<div class="row">
  <div class="col-md-8">
    <div class="card">
      <div class="card-header">
        <h5 class="card-title">Average price per state</h5>
        <p class="card-category"></p>
      </div>
      <div class="card-body">
        <plotly-plot
          *ngIf="pubsgraph1"
          [data]="pubsgraph1.data"
          [layout]="pubsgraph1.layout"
          [useResizeHandler]="true"
        ></plotly-plot>
      </div>
      <div class="card-footer">
        <hr />
        <div class="stats">
          <i class="fa fa-history"></i> Updated 3 minutes ago
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-8">
    <div class="card">
      <div class="card-header">
        <h5 class="card-title">Percentage of publications for each state</h5>
        <p class="card-category"></p>
      </div>
      <div class="card-body">
        <plotly-plot
          *ngIf="pubsgraph2"
          [data]="pubsgraph2.data"
          [layout]="pubsgraph2.layout"
          [useResizeHandler]="true"
        ></plotly-plot>
      </div>
      <div class="card-footer">
        <hr />
        <div class="stats">
          <i class="fa fa-history"></i> Updated 3 minutes ago
        </div>
      </div>
    </div>
  </div>
</div>
